    body {
        background-color: #f5f5f5;
    }
    .starter-template {
    //padding: 3rem 1.5rem;
    text-align: center;
    }

    .bg-pink{
        background-color:#FFC300;
    }

    img[usemap]{
      border:none;
      height:auto;
      max-width:100%;
      width:auto;
    }

    img{
      box-shadow : 3px 3px 3px 3px gray;
    }
    .jumbotron{
        background-color:#FBEFF2;
    }